<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/mytemplate.css">
    <script src="assets/js/jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/all.js"></script>
    <script src="assets/js/fontawesome.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/mainpage">خانه</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/customerdata">محاسبه امتیاز<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">خدمات ثبتی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">تماس با ما</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search">
    </form>
  </div>
</nav>
<body dir="rtl">

<div class="container-fluid" >
    <div class="row justify-content-around align-items-center">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/m1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">محاسبه امتیاز</h5>
                    <p class="card-text">اگر می خواهید خیلی سریع و بی دردسر بدانید که واجد شرایط دریافت صلاحیت هستید ما کمکتان می کنیم!!</p>
                    <a href="/customerdata" class="btn btn-primary" >کلیک کنید</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/m2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">خدمات ما</h5>
                    <p class="card-text">هرگونه خدمتی که در زمینه حقوقی نیاز دارید اینجاست</p>
                    <a href="/services" class="btn btn-primary">کلیک کنید</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/m3.jpg"   alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ارتباط با کارشناسان ما</h5>
                    <p class="card-text">اگر به کمک کارشناسان ما نیاز دارید می توانید با متخصص مربوطه در ارتباط باشید</p>
                    <a href="/contactus" class="btn btn-primary">کلیک کنید</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-center text-white" style="background-color: #66ccff;">

    <div class="container p-4">
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/5.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/6.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/10.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/9.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/7.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="assets/img/8.jpg"
                   class="w-100"
                   width="320"
                   height="110"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
        </div>
      </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

</footer>

</div>

</body>
</html>